{% if alertas %}
    {% for alerta in alertas %}
        <div>
            <div
                class="flex w-full p-1"
                data-anim-name="edit-stock-form-bar-{{ 1 }}"
            >
                <div class="flex w-full flex-row justify-between">
                <div class="flex w-full flex-col items-start">
                    <h3
                    class="font-semibold"
                    data-anim-name="edit-stock-form-symbol-{{ 1 }}"
                    >
                    Precio Mínimo
                    </h3>
                    <div
                    class="flex flex-row items-center gap-1 text-gray-400"
                    >
                    <p>AL30/OCT25 - $1.000,00</p>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-2">
                    <button
                    class="flex cursor-pointer rounded-sm bg-slate-600 p-1 text-white transition active:scale-90"
                    >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                        d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"
                        />
                        <path d="M13.5 6.5l4 4" />
                    </svg></button
                    ><button
                    class="flex cursor-pointer rounded-sm bg-[#eb3837] p-1 text-white transition active:scale-90"
                    hx-delete=""
                    hx-target="#alert-list"
                    hx-swap="innerHTML"
                    >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path
                        d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"
                        />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            <div data-anim-name="edit-stock-form-content-{{ 1 }}"></div>
        </div>
    {% endfor %}
{% else %}
    <p class="rounded-sm bg-gray-200 p-4 text-center text-gray-600 lg:p-6">
    No hay alertas que mostrar
    </p>
{% endif %}
