<div class="flex flex-col">
  <div class="flex flex-row items-end gap-1">
    <h1 class="text-3xl font-semibold">${{ gain_sum }}</h1>
    <span class="text-2xl text-gray-400">ARS</span>
  </div>
  <div class="flex gap-2">
    <div class="flex flex-row gap-1">
      <p class="font-semibold">
        {{ "-" if difference < 0 else "+"}}${{ difference | abs }}
      </p>
      <p class="text-gray-400">ARS</p>
    </div>
    {% if differencePercentage >= 0 %}
    <div
      class="flex flex-row items-center gap-1 rounded-full bg-green-100 px-2 text-green-600"
    >
      <p class="font-semibold">{{ differencePercentage | abs }}%</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 17l6 -6l4 4l8 -8" />
        <path d="M14 7l7 0l0 7" />
      </svg>
    </div>
    {% else %}
    <div
      class="flex flex-row items-center gap-1 rounded-full bg-red-100 px-2 text-red-600"
    >
      <p class="font-semibold">{{ differencePercentage | abs }}%</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 7l6 6l4 -4l8 8" />
        <path d="M21 10l0 7l-7 0" />
      </svg>
    </div>
    {% endif %}
  </div>
</div>
