<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cartera de Futuros</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon-96x96.png') }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <script type="module">
      import { DotLottie } from "{{ url_for('static', filename='js/lottie.js') }}";
      const iconAnim = new DotLottie({
        autoplay: true,
        canvas: document.getElementById("icon"),
        src: "{{ url_for('static', filename='icon.json') }}",
      });
      const homeBtn = document.getElementById("homeBtn");
      homeBtn.addEventListener("mouseenter", () => iconAnim.play());
      homeBtn.addEventListener("touchstart", () => iconAnim.play());
    </script>
  </head>
  <body class="overflow-x-hidden bg-[#fbfbfb] select-none">
    <div class="flex justify-center border-b-1 border-slate-200 bg-white">
      <div
        class="flex w-full max-w-4xl flex-row items-center justify-between p-2"
      >
        <div>
          <a
            id="homeBtn"
            href="/"
            class="flex cursor-pointer rounded-sm font-semibold transition hover:bg-gray-200 active:scale-90 active:bg-gray-200"
          >
            <div class="flex flex-row items-center gap-2">
              <canvas
                id="icon"
                width="40"
                height="40"
                class="h-10 w-10"
              ></canvas>
              <p class="mr-1 hidden sm:block">Cartera de Futuros</p>
            </div>
          </a>
        </div>
        <div class="flex flex-row gap-2">
          <a
            href="/auth/login"
            class="cursor-pointer rounded-sm p-1 transition hover:bg-gray-200 active:scale-90 active:bg-gray-200"
          >
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>
    <div class="flex min-h-screen w-full flex-col items-center">
      <div
        class="flex w-full flex-1 items-center border-slate-200 bg-white lg:max-w-4xl lg:border-x-1"
      >
        <div class="flex w-full justify-center p-4">
          <p>Bienvenido!</p>
        </div>
      </div>
    </div>
  </body>
</html>
