<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Iniciar sesión</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <body class="bg-[#fbfbfb] select-none">
    <div class="w-full flex justify-center">
      <div
        class="w-full max-w-4xl bg-white flex-col pt-10 px-4 flex items-center h-screen border-x-1 border-slate-200"
      >
        <article
          class="rounded-sm outline-1 outline-slate-200 w-full max-w-xl bg-white"
        >
          <h1
            class="text-2xl px-4 py-2 font-semibold text-slate-700 border-b-1 border-slate-200"
          >
            Iniciar sesión
          </h1>
          <footer class="p-4">
            <form action="/auth/login" method="post">
              <p class="flex flex-col mb-4">
                <label class="mb-1 text-slate-500" for="username"
                  >Nombre de usuario</label
                >
                <input
                  class="transition px-3 py-2 outline-1 outline-slate-200 rounded-sm focus:outline-slate-300 placeholder:text-slate-500"
                  type="text"
                  id="username"
                  name="username"
                  required
                  autocomplete="username"
                />
              </p>
              <p class="flex flex-col mb-4">
                <label class="mb-1 text-slate-500" for="password"
                  >Contraseña</label
                >
                <input
                  class="transition px-3 py-2 outline-1 outline-slate-200 rounded-sm focus:outline-slate-300 placeholder:text-slate-500"
                  type="password"
                  id="password"
                  name="password"
                  required
                />
              </p>
              <button
                class="bg-slate-600 active:bg-slate-700 hover:bg-slate-700 cursor-pointer px-3 py-2 mt-4 rounded-sm w-full text-white transition active:scale-90"
                type="submit"
              >
                Iniciar sesión
              </button>
            </form>
          </footer>
        </article>
        <p class="text-slate-500 mt-4">
          <span>No tienes una cuenta?</span>&nbsp;<a
            class="underline text-sky-800"
            href="/auth/register"
            >Regístrate</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
