<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Iniciar sesión</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <body class="bg-[#fbfbfb] select-none">
    <div class="flex w-full justify-center">
      <div
        class="flex h-screen w-full max-w-4xl flex-col items-center border-x-1 border-slate-200 bg-white px-4 pt-10"
      >
        <article
          class="w-full max-w-xl rounded-sm bg-white outline-1 outline-slate-200"
        >
          <h1
            class="border-b-1 border-slate-200 px-4 py-2 text-2xl font-semibold text-slate-700"
          >
            Crear cuenta
          </h1>
          <footer class="p-4">
            <form action="/auth/register" method="post">
              <p class="mb-4 flex flex-col">
                <label class="mb-1 text-slate-500" for="username"
                  >Nombre de usuario</label
                >
                <input
                  class="rounded-sm px-3 py-2 outline-1 outline-slate-200 transition placeholder:text-slate-500 focus:outline-slate-300"
                  type="text"
                  id="username"
                  name="username"
                  required
                  autocomplete="username"
                />
              </p>
              <p class="mb-4 flex flex-col">
                <label class="mb-1 text-slate-500" for="email"
                  >Correo electrónico</label
                >
                <input
                  class="rounded-sm px-3 py-2 outline-1 outline-slate-200 transition placeholder:text-slate-500 focus:outline-slate-300"
                  type="email"
                  id="email"
                  name="email"
                  required
                  autocomplete="email"
                />
              </p>
              <p class="mb-4 flex flex-col">
                <label class="mb-1 text-slate-500" for="password"
                  >Contraseña</label
                >
                <input
                  class="rounded-sm px-3 py-2 outline-1 outline-slate-200 transition placeholder:text-slate-500 focus:outline-slate-300"
                  type="password"
                  id="password"
                  name="password"
                  required
                />
              </p>
              <p class="mb-4 flex flex-col">
                <label class="mb-1 text-slate-500" for="password_repeat"
                  >Repetir contraseña</label
                >
                <input
                  class="rounded-sm px-3 py-2 outline-1 outline-slate-200 transition placeholder:text-slate-500 focus:outline-slate-300"
                  type="password"
                  id="password_repeat"
                  name="password_repeat"
                  required
                />
              </p>
              <button
                class="mt-4 w-full cursor-pointer rounded-sm bg-slate-600 px-3 py-2 text-white transition active:scale-90"
                type="submit"
              >
                Crear cuenta
              </button>
            </form>
          </footer>
        </article>
        <p class="mt-4 text-slate-500">
          <span>Ya tienes una cuenta?</span>&nbsp;<a
            class="text-sky-800 underline"
            href="/auth/login"
            >Inicia sesión</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
